language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
  - 5.5
  - 5.6
  - 7.0
  - 7.1.18
  - 7.2
  - nightly

env:
  global:
    - LATEST_PHP_VERSION="7.2"
  matrix:
    - DEPENDENCIES="low"
    - DEPENDENCIES="beta"

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - env: DEPENDENCIES="beta"

before_install:
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - if [ -n "$GH_TOKEN" ]; then
      composer config github-oauth.github.com ${GH_TOKEN};
    fi;
  - mkdir -p build/logs

install:
  - if [ "$DEPENDENCIES" = "beta" ]; then
      composer config minimum-stability beta;
    fi;
  - if [ "$(phpenv version-name)" != "$LATEST_PHP_VERSION" ]; then
      composer remove friendsofphp/php-cs-fixer --dev;
      composer remove phpstan/phpstan --dev;
    fi
  - composer update -n --prefer-dist

script:
  - if [ "$(phpenv version-name)" != "$LATEST_PHP_VERSION" ]; then
      echo "File validation is skipped for older PHP versions";
    else
      composer validate-files;
    fi;
  - if [ "$(phpenv version-name)" != "$LATEST_PHP_VERSION" ]; then
      echo "Static analysis is skipped for older PHP versions";
    else
      composer run-static-analysis;
    fi;
  - if [ "$(phpenv version-name)" != "$LATEST_PHP_VERSION" ]; then
      echo "Code style check is skipped for older PHP versions";
    else
      composer check-code-style;
    fi;
  - if [ "$(phpenv version-name)" < 7.1 ]; then
      echo "Security check is skipped due to security-checker issue 100";
    else
      composer check-security;
    fi;
  - composer run-tests-with-clover

after_script:
  - php bin/coveralls -v
